* {
    margin: 0;
    padding: 0;
}
body {
    background: black;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    color: gold;
    text-align: center;
    line-height: 960px; 
}